In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import  ords_prods_merge dataframe
path_ords_prods_merge_new_variable = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_merge_new_variable.pkl'

In [3]:
df_ords_prods_merge_new_variable = pd.read_pickle(os.path.join(path_ords_prods_merge_new_variable))

In [4]:
df_ords_prods_merge_new_variable.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest day,ords_prods_merge_order_dow.loc,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Slowest days,Average_orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Slowest days,NaN
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,NaN
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Average days,Most_orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Average days,NaN

In [13]:
df_ords_prods_merge_new_variable.shape

(32406041, 20)

In [5]:
#create a subset 
df = df_ords_prods_merge_new_variable[:1000000]

In [148]:
df.shape

(1000000, 20)

In [149]:
df.head(10)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest day,ords_prods_merge_order_dow.loc,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Slowest days,Average_orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Slowest days,NaN
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,NaN
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Average days,Most_orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Average days,NaN
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Fewest_orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Average days,Most_orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,Mid-range product,Regularly busy,Average days,NaN
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,NaN
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most_orders

In [150]:
df.groupby('product_name')

In [151]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.467644
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.802028
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [152]:
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.467644
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.802028
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [153]:
#Performing Multiple Aggregations

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.467644   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.802028   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

In [154]:
#Aggregating Data with transform() - creating a loyalty flag colum - column containing the maximum frequency of the “order_number”

df_ords_prods_merge_new_variable['max_order'] = df_ords_prods_merge_new_variable.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_10620/3937978776.py:3: FutureWarning: The provided callable <function max at 0x108c747c0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge_new_variable['max_order'] = df_ords_prods_merge_new_variable.groupby(['user_id'])['order_number'].transform(np.max)

In [155]:
df_ords_prods_merge_new_variable.head(15)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest day,ords_prods_merge_order_dow.loc,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,...,11,3.0,5,0,both,Mid-range product,Regularly busy,Slowest days,Average_orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,...,17,20.0,1,1,both,Mid-range product,Regularly busy,Slowest days,NaN,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,...,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,NaN,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Average days,Most_orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,...,17,9.0,11,1,both,Mid-range product,Least busy,Average days,NaN,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,...,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Fewest_orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,...,14,30.0,2,0,both,Mid-range product,Regularly busy,Average days,Most_orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,...,10,30.0,1,0,both,Mid-range product,Regularly busy,Average days,NaN,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,...,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,NaN,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,...,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most_orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,...,11,NaN,1,0,both,Mid-range product,Regularly busy,Slowest days,Average_orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,...,13,7.0,1,0,both,Mid-range product,Regularly busy,Average days,Most_orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,...,13,7.0,3,1,both,Mid-range product,Least busy,Average days,Most_orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,...,12,12.0,4,1,both,Mid-range product,Regularly busy,Average days,Most_orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,...,10,2.0,8,0,both,Mid-range product,Regularly busy,Average days,NaN,13

In [156]:
#Deriving Columns with loc()
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [157]:
df_ords_prods_merge_new_variable.loc[(df_ords_prods_merge_new_variable['max_order'] <= 40) & (df_ords_prods_merge_new_variable['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [158]:
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [159]:
df_ords_prods_merge_new_variable['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: count, dtype: int64

In [160]:
# check that everything was interpreted correctly and that the right flags were assigned
df_ords_prods_merge_new_variable[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

In [161]:
#TASK 4.8
#aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe.

df_ords_prods_merge_new_variable.groupby('department_id').agg({'order_number': ['mean']})

#The patern is quite simmilar. However the numbers are lower in case when we do for entire dataframe. I guess it can be because more 
#variable were used to calculate mean

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [162]:
#creating a loyalty flag for existing customers using the transform() and loc() functions.
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [163]:
df_ords_prods_merge_new_variable.loc[(df_ords_prods_merge_new_variable['max_order'] <= 40) & (df_ords_prods_merge_new_variable['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [164]:
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [165]:
df_ords_prods_merge_new_variable['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: count, dtype: int64

In [166]:
#Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category
df_ords_prods_merge_new_variable.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386229  1.0  99999.0
New customer      13.294406  1.0  99999.0
Regular customer  12.495501  1.0  99999.0

In [167]:
#target different types of spenders in their marketing campaigns. 

df_ords_prods_merge_new_variable.groupby('user_id').agg({'prices': ['mean']})

           prices
             mean
user_id
1        6.367797
2        7.515897
3        8.197727
4        8.205556
5        9.189189
...           ...
206205   8.909375
206206   7.646667
206207   7.313453
206208   8.366617
206209   7.058915

[206209 rows x 1 columns]

In [168]:
df_ords_prods_merge_new_variable['prices_mean'] = df_ords_prods_merge_new_variable.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_10620/46022046.py:1: FutureWarning: The provided callable <function mean at 0x108c751c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge_new_variable['prices_mean'] = df_ords_prods_merge_new_variable.groupby(['user_id'])['prices'].transform(np.mean)

In [169]:
df_ords_prods_merge_new_variable.head(15)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,add_to_cart_order,reordered,_merge,price_range_loc,Busiest day,ords_prods_merge_order_dow.loc,busiest_period_of_day,max_order,loyalty_flag,prices_mean
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,...,5,0,both,Mid-range product,Regularly busy,Slowest days,Average_orders,32,Regular customer,6.935811
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,...,1,1,both,Mid-range product,Regularly busy,Slowest days,NaN,32,Regular customer,6.935811
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,...,20,0,both,Mid-range product,Busiest day,Busiest days,NaN,5,New customer,7.930208
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,...,10,0,both,Mid-range product,Regularly busy,Average days,Most_orders,3,New customer,4.972414
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,...,11,1,both,Mid-range product,Least busy,Average days,NaN,3,New customer,4.972414
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,...,7,0,both,Mid-range product,Regularly busy,Busiest days,Fewest_orders,26,Regular customer,6.935398
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,...,2,0,both,Mid-range product,Regularly busy,Average days,Most_orders,9,New customer,5.957576
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,...,1,0,both,Mid-range product,Regularly busy,Average days,NaN,12,Regular customer,6.680000
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,...,1,0,both,Mid-range product,Regularly busy,Busiest days,NaN,20,Regular customer,7.162500
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,...,2,1,both,Mid-range product,Regularly busy,Busiest days,Most_orders,20,Regular customer,7.162500
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,...,1,0,both,Mid-range product,Regularly busy,Slowest days,Average_orders,10,New customer,5.813636
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,...,1,0,both,Mid-range product,Regularly busy,Average days,Most_orders,43,Loyal customer,5.081633
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,...,3,1,both,Mid-range product,Least busy,Average days,Most_orders,43,Loyal customer,5.081633
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,...,4,1,both,Mid-range product,Regularly busy,Average days,Most_orders,43,Loyal customer,5.081633
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,...,8,0,both,Mid-range product,Regularly busy,Average days,NaN,13,Regular customer,6.803797

In [170]:
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['prices_mean'] < 10, 'Spending_flag'] = 'Low spender'

In [180]:
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['prices_mean'] >= 10, 'Spending_flag'] = 'High spender'

In [181]:
df_ords_prods_merge_new_variable['Spending_flag'].value_counts(dropna=False)

Spending_flag
Low spender     31771789
High spender      634252
Name: count, dtype: int64

In [199]:
# determine frequent versus non-frequent customers

df_ords_prods_merge_new_variable['days_SPO_median'] = df_ords_prods_merge_new_variable.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/13/1jb5kb0d14783hy2x_n_wdrm0000gn/T/ipykernel_10620/1594736982.py:3: FutureWarning: The provided callable <function median at 0x108d9f6a0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge_new_variable['days_SPO_median'] = df_ords_prods_merge_new_variable.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [200]:
df_ords_prods_merge_new_variable.head(15)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,Busiest day,ords_prods_merge_order_dow.loc,busiest_period_of_day,max_order,loyalty_flag,prices_mean,Spending_flag,days_since_prior_order_median,days_SPO_median,days_SPO_median
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,...,Regularly busy,Slowest days,Average_orders,32,Regular customer,6.935811,Low spender,8.0,8.0,8.0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,...,Regularly busy,Slowest days,NaN,32,Regular customer,6.935811,Low spender,8.0,8.0,8.0
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,...,Busiest day,Busiest days,NaN,5,New customer,7.930208,Low spender,8.0,8.0,8.0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,...,Regularly busy,Average days,Most_orders,3,New customer,4.972414,Low spender,9.0,9.0,9.0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,...,Least busy,Average days,NaN,3,New customer,4.972414,Low spender,9.0,9.0,9.0
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,...,Regularly busy,Busiest days,Fewest_orders,26,Regular customer,6.935398,Low spender,11.0,11.0,11.0
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,...,Regularly busy,Average days,Most_orders,9,New customer,5.957576,Low spender,20.0,20.0,20.0
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,...,Regularly busy,Average days,NaN,12,Regular customer,6.680000,Low spender,6.0,6.0,6.0
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,...,Regularly busy,Busiest days,NaN,20,Regular customer,7.162500,Low spender,10.0,10.0,10.0
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,...,Regularly busy,Busiest days,Most_orders,20,Regular customer,7.162500,Low spender,10.0,10.0,10.0
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,...,Regularly busy,Slowest days,Average_orders,10,New customer,5.813636,Low spender,20.0,20.0,20.0
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,...,Regularly busy,Average days,Most_orders,43,Loyal customer,5.081633,Low spender,7.0,7.0,7.0
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,...,Least busy,Average days,Most_orders,43,Loyal customer,5.081633,Low spender,7.0,7.0,7.0
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,...,Regularly busy,Average days,Most_orders,43,Loyal customer,5.081633,Low spender,7.0,7.0,7.0
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,...,Regularly busy,Average days,NaN,13,Regular customer,6.803797,Low spender,7.0,7.0,7.0

In [213]:
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['days_SPO_median'] > 20, 'Frequency_flag'] = 'Non-frequent customer'

In [215]:
df_ords_prods_merge_new_variable.loc[(df_ords_prods_merge_new_variable['days_SPO_median'] <= 20) & (df_ords_prods_merge_new_variable['days_SPO_median'] > 10), 'Frequency_flag'] = 'Regular customer'

In [221]:
df_ords_prods_merge_new_variable.loc[df_ords_prods_merge_new_variable['days_SPO_median'] <= 10, 'Frequency_flag'] = 'Frequent customer'

In [223]:
df_ords_prods_merge_new_variable['Frequency_flag'].value_counts(dropna=False)

Frequency_flag
Frequent customer        21560324
Regular customer          7209005
Non-frequent customer     3636707
NaN                             5
Name: count, dtype: int64

In [225]:
#Export file in pickle format as ords_prods_merge_new_variable.pkl

path_prepared_data = r'/Users/janekobtseva/19-09-2024 Instacart Basket Analysis/02 Data/Prepared Data'

In [229]:
df_ords_prods_merge_new_variable.to_pickle(os.path.join(path_prepared_data, 'ords_prods_merge_4.8.pkl'))